.backgroundImg{
    background-image: url('https://i.imgur.com/y2ZZKJM.png'), url('https://i.imgur.com/NN7tQ2G.png') ;
    height: 600px;
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size:auto, contain; 
}

.addCoffeeBtn:hover{
    background: #d8d8d7;
    border: #331A15 2px solid;
    color: white;
}